
.column{
    float: left;
    width: 300px;
    text-align: center;
    column-count: 3;
    height: 1000px;
    
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.navbar{
   overflow: hidden;
   background-color: darkslategrey;
   position: fixed;
   top: 0;
   width: 100%;
}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}
.navbar.a:hover{
    background-color: aqua;
    color: black;
}

.body{
    
}
.header{
    
}
